.subscribe-widget-container {
  background: #F9F9F9;
  padding: 0px 20px 0px 20px;
  position: relative;
  
  .gform_wrapper .top_label input.large,
  .gform_wrapper .top_label select.large,
  .gform_wrapper .top_label textarea.textarea.large,
  .gform_wrapper .hidden_label input.large,
  .gform_wrapper .hidden_label select.large,
  .gform_wrapper .hidden_label textarea.textarea.large {
    background: white;
  }
  
  h4 {
    background: #E9E9E9;
    margin: -14px -20px 20px -20px;
    padding: 12px 20px 10px 20px;
    margin-top: 0px;
    
    .fa-caret-down {
      color: #E9E9E9;
      font-size: 54px;
      position: absolute;
      top: 24px;
      left: 15px;
    }
    
    i {
      margin-right: 10px;
    }
  }
    
    .subscribe-widget-desc {
      font-size: 14px; 
    }
    
    .gfield_label {
      display: none !important;
    }
    
}
