ul.off-canvas-list > li > a {
  background: #E6E6E6;
  color: #444;
  font-family:"HelveticaNeueW01-47LtCn 692686";
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 14px;
  text-transform: uppercase;
  
  &:hover {
    background: #E6E6E6 !important;
    color: #444 !important;
  } 
}

ul.off-canvas-list > li > ul {
  margin: 0px;
  
  > li {
    list-style-type: none;
  
    a {
      font-family: "HelveticaNeueW01-47LtCn 692686";
      font-size: 14px;
      letter-spacing: 1px;
      padding: 8px 14px;
    }
  }
}

ul.off-canvas-list li a:hover {
  color: white;
}

.tab-bar {
  margin-bottom: 0px !important;
}
