.vimeography-6up {
  
  .vimeography-thumbnails img {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  
  .vimeography-data {
    display: none;
  }
}
