.archive-header {
  margin-bottom: 40px;
  
  h1 {
    font-size: 32px;
  }
  
  .archive-header-meta {
    border-bottom: 2px solid $primary_color;
    font-family:"HelveticaNeueW01-47LtCn 692686";
    font-size: 14px;
    
    >div {
      display: inline;
      line-height: 1;
      padding: 7px 0px;
      vertical-align: bottom;
      
      &:first-child {
        border-right: 2px solid $primary_color;
        margin-right: 8px;
        padding-right: 8px;
      }
      
      &.archive-header-exit {
        background: $primary_color;
        float: right;
        padding: 8px 12px 6px 12px;
        
        a {
          color: white;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }
  }
}
