.content-archive-container {

  .content-archive-post-container {
    margin-bottom: 42px;
    
    .content-archive-post-image {
      margin-top: 8px;
    }
    
    .content-archive-post-content {
      
      h5 a {
        color: #444;
        
        &:hover {
          color: #666;
        }
      }
      
      p {
        font-size: 14px;
        margin-bottom: 0px;
      }
      
      footer {
        color: #666;
        border-top: 1px solid #DDD;
        font-size: 12px;
        margin-top: 3px;
        padding-top: 3px;
        
        .content-archive-post-date {
          
        }
        
        .content-archive-post-author {
          
        }
        
      }
    }
  }
}
