.footer-copyright {
  background: #5591BA;
  
  .copyright-bar-links {
    
    a {
      color: white;
      font-family:"HelveticaNeueW01-47LtCn 692686";
      font-size: 12px;
      letter-spacing: 1px;
    }
    
    ul {
      margin: 0px;
      padding-top: 6px;
      padding-bottom: 6px;
      
      li {
        border-right: 1px solid white;
        display: inline;
        list-style-type: none;
        margin-right: 6px;
        padding-right: 6px;
        padding-bottom: 2px;
        
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
