.doctrine-container {
    background: #ECECEC;
    padding: 24px 30px 8px 30px;
    
    &:nth-child(even) {
        background: #F9F9F9;
    }
    
    h5 {
        margin-bottom: 10px;
        
        i {
            color: $primary_color;
            cursor: pointer;
            margin-right: 8px;
        }
    }
    
    p {
        font-size: 14px;
    }
    
    .additional-description {
        height: 0px;
        overflow: hidden;
    }
}

h2 {
        margin-top: 36px;
    }