.single-program-content-container {
  
  .program-info-container {
    margin-top: 50px;
    
    @media #{$small-only} {
      text-align: center;
    }
    
    .program-info-duration-container {
      text-align: center;
      
      .program-info-duration-number {
        color: #444;
        font-family:"HelveticaNeueW01-77BdCn 692722";
        font-size: 116px;
        line-height: 1;
      }
      
      .program-info-duration-desc {
        font-family:"HelveticaNeueW01-47LtCn 692686";
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
      }
    }
    
    .program-info-academic-container {
      
      h5 i {
        margin-left: 5px;
      }
      
      @media #{$small-only} {
        margin-top: 16px;
      }
    }
  }
  
  .program-dates-container {
    margin: 70px 0px 20px 0px;
    text-align: center;
    
    .program-date-info-container {
      background: #F6F6F6;
      
      h4 {
        background: #E6E6E6;
        margin-bottom: 20px;
        padding: 6px 0px;
      }
      
      >ul {
        margin: 0px;
      }
      
      >ul>li {
        border-bottom: 1px solid #E6E6E6;
        font-size: 12px;
        list-style-type: none;
        margin: 0px 20px;
        padding: 4px;
        text-align: left;
      }
      
      a.button {
        margin-top: 18px;
      }
    }
  }
  
  .program-prereqs-container {
    margin: 0px 10px;
    padding: 10px 20px;
    
    @media #{$small-only} {
      padding: 15px 5px;
      }
    
    .program-prereqs-icon-container {
      font-size: 50px;
      text-align: center;
    }
  }
  
  .program-onbase-phase-info-container {
    margin-top: 70px;
    
    h4 {
      border-bottom: 2px solid #EFEFEF;
    }
    
    .onbase-phase-activity-hours {
      color: #888;
      font-size: 16px; 
    }
    
    .onbase-phase-activity-details-container {
      padding: 16px 0px;
    
      .onbase-phase-activity-detail-chart {
        padding: 0px 24px;
        
        .chart-container {
          text-align: center;
          margin-top: -17px;
          
          i {
            font-size: 24px;
            color: #EFEFEF;
          }
        }
      }
    }
  }
}

.recent-posts-header-container {
  h2 {
    border-bottom: 2px solid #EFEFEF;
  }
  
  .recent-posts-header-post-num-container {
    text-align: center;
    
    .recent-posts-header-post-num {
      color: #444;
      font-family:"HelveticaNeueW01-77BdCn 692722";
      font-size: 116px;
      line-height: 1;
    }
    
    .recent-posts-header-post-num-desc {
      font-family:"HelveticaNeueW01-47LtCn 692686";
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}
