.single-program-content-container {
  
  .program-dates-container {
    margin: 70px 0px;
    text-align: center;
    
    .program-date-info-container {
      background: #F6F6F6;
      
      h3 {
        background: #E6E6E6;
        margin-bottom: 20px;
        padding: 6px 0px;
      }
      
      >ul {
        margin: 0px;
      }
      
      >ul>li {
        border-bottom: 1px solid #E6E6E6;
        font-size: 12px;
        list-style-type: none;
        margin: 0px 20px;
        padding: 4px;
      }
      
      a.button {
        margin-top: 18px;
      }
    }
  }
}
