.reveal-modal {
  margin-bottom: 40px !important;
  padding: 0px;
  
  .reveal-modal-post-thumbnail {
    @include background-size(cover);
    height: 240px;
    width: 100%;
    position: relative;
    
    img.reveal-modal-post-thumbnail-icon {
      background: white;
      padding: 10px;
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 60px;
    }
  }
  
  .reveal-modal-post-content-container {
    padding: 1.83rem;
  }
  
  footer {
    background: #EFEFEF;
    font-family:"HelveticaNeueW01-77BdCn 692722";
    font-size: 14px;
    padding: 8px 1.83rem;
    vertical-align: top;
  
    i {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
