body {
  font-family: "HelveticaNeueW01-55Roma";
}

h1 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 36px;
  text-transform: uppercase;
}
h2 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 32px;
  text-transform: uppercase;
}
h3 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 24px;
  text-transform: uppercase;
}
h4 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 20px;
  text-transform: uppercase;
}
h5 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
}
h6 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 16px;
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
}

blockquote {
  border-left: 2px solid #609FCE;
  float: left;
  padding: 10px 20px;
  width: 50%;
  
  &.right {
  
  }
  
  @media #{$small-only} {
    width: 100% !important;
  }
  
  p {
    font-family: "HelveticaNeueW01-47LtCn 692689";
    font-size: 22px;
    margin-bottom: 0px;
    }
}

i.info-circle-link {
  border: 1px solid $primary_color;
  border-radius: 999px;
  font-size: 12px;
  height: 17px;
  margin-left: 5px;
  padding: 2px 1px 0px 1px;
  text-align: center;
  width: 17px;
  
  &:hover {
    background: $primary_color;
    color: #F6F6F6;
  }
}

i.info-circle {
  background: #444;
  border-radius: 999px;
  color: white;
  font-size: 12px;
  margin: 4px 0px 0px 8px;
  padding-top: 3px;
  text-align: center;
  height: 18px;
  width: 18px;
  vertical-align: top;
}

.button {
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 16px;
  text-transform: uppercase;
}
