h1 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 36px;
  text-transform: uppercase;
}
h2 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 32px;
  text-transform: uppercase;
}
h3 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 24px;
  text-transform: uppercase;
}
h4 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 20px;
  text-transform: uppercase;
}
h5 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 18px;
  text-transform: uppercase;
}
h6 {
  color: #444;
  font-family:"HelveticaNeueW01-77BdCn 692722";
  font-size: 16px;
  text-transform: uppercase;
}

blockquote {
  border-left: 2px solid #609FCE;
  float: left;
  padding: 10px 20px;
  width: 50%;
  
  @media #{$small-only} {
    width: 100% !important;
  }
  
  p {
    font-family: "HelveticaNeueW01-47LtCn 692689";
    font-size: 22px;
    margin-bottom: 0px;
    }
}
