.target-nations-archive-container {
  
  .target-nations-archive-preview {
    
    li {
      position: relative;
      
      h4 {
        @include vertical-align-absolute;
        
        color: white;
        font-size: 24px;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(0,0,0,1);
        top: 42% !important;
        left: 0px;
        right: 0px;
      }
    }
  }
  
  .target-nation-section-title {
    border-bottom: 1px solid #999;
    
    span {
      color: #F7464A;
      float: right;
      font-family:"HelveticaNeueW01-47LtCn 692686";
      font-size: 18px;
      margin-top: 14px;
    }
  }
  
  .target-nation-info {
    
  }
}
