.target-nations-archive-container {
  
  .target-nations-archive-preview {
    
    li {
      position: relative;
      
      h4 {
        @include vertical-align-absolute;
        
        color: white;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(0,0,0,1);
        top: 42% !important;
        left: 0px;
        right: 0px;
      }
    }
  }
  
  .target-nations-archive-surge-preview {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 40px 0px;
    margin: 50px 0px 80px 0px;
    
    .button {
      width: 100%;
    }
  }
  
  .target-nation-header-image-container {
    position: relative;
    margin-bottom: 30px;
    
    .target-nation-header-info {
      text-align: center;
      left: 0px;
      right: 0px;
    }
    
    h2 {
      color: white;
      line-height: 1em;
      text-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
    }
    
    .target-nation-section-percentage {
      color: white;
      background: $primary_color;
      font-family:"HelveticaNeueW01-47LtCn 692689";
      font-size: 18px;
      padding: 8px 36px;
    }
  }
  
  .target-nation-info {
    color: #444;
    
    .target-nation-info-icon {
      display: inline-block;
      font-size: 26px;
      text-align: center;
      padding: 0px 6px;
      
      @include vertical-align-relative;
    }
    
    .target-nation-info-content-container {
      display: inline-block;
      
      .target-nation-info-title {
        font-family:"HelveticaNeueW01-77BdCn 692722";
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1em;
      }
      
      .target-nation-info-content {
        font-family:"HelveticaNeueW01-47LtCn 692686";
      }
    }
  }
  
  .target-nation-footer {
    border-top: 1px solid #DDD;
    font-size: 14px;
    margin: 0px 0px 80px 0px;
    
    li {
      display: inline-block;
      list-style-type: none;
      padding: 4px 0px;
      
      &:first-child {
        border-right: 1px solid #DDD;
        padding-right: 10px;
        margin-right: 10px;
      }
      
      a {
        font-family:"HelveticaNeueW01-47LtCn 692686";
      }
    }
  }
}
