.target-nations-archive-container {
  
  .target-nations-archive-preview {
    
    li {
      position: relative;
      
      h4 {
        @include vertical-align-absolute;
        
        color: white;
        font-size: 24px;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(0,0,0,1);
        top: 42% !important;
        left: 0px;
        right: 0px;
      }
    }
  }
  
  .target-nation-section-title {
    margin-bottom: 0px;
    
    span {
      color: #F7464A;
      float: right;
      font-family:"HelveticaNeueW01-47LtCn 692686";
      font-size: 18px;
      margin-top: 14px;
    }
  }
  
  .target-nation-info {
    
    .target-nation-info-icon {
      display: inline-block;
      font-size: 26px;
      text-align: center;
    }
    
    .target-nation-info-content-container {
      display: inline-block;
      
      .target-nation-info-title {
        font-family:"HelveticaNeueW01-65Medi";
      }
      
      .target-nation-info-content {
        font-family:"HelveticaNeueW01-47LtCn 692686";
      }
    }
  }
}
