.surge-single-container {
  
  .surge-content-container {
    margin-top: 60px;
    padding-right: 60px;
    
    h2 {
      margin-top: 60px;
    }
  }
  
  .surge-goals-container {
    
    .surge-goal-charts-container {
      
      li {
        padding-bottom: 0px;
        
        .surge-goal-chart-desc-marker {
          border-radius: 0px 0px 20px 0px;
          border-right: 1px solid #AAA;
          border-bottom: 1px solid #AAA;
          bottom: -1px;
          height: 30px;
          margin-top: 20px;
          position: relative;
          right: -30%;
          width: 20%;
          
          i {
            color: #AAA;
            font-size: 20px;
            position: absolute;
            right: -7px;
            top: -12px;
          }
        }
      }
      
      [class^="flaticon-"] {
        color: #444;
        display: block;
        text-align: center;
        position: relative;
        bottom: -60px;
      
        &:before {
          font-size: 70px;
          margin: 0px;
        }
      }
      
      .surge-goal-chart-container {
        position: relative;
        
        &:hover {
          
        }
        
        .surge-goal-info {
          left: 0px;
          right: 0px;
          text-align: center;
          
          .surge-goal-total {
            color: #444;
            font-family:"HelveticaNeueW01-77BdCn 692722";
            font-size: 42px;
            line-height: 2rem;
          }
          
          .surge-goal-label {
            color: #444;
            font-family:"HelveticaNeueW01-77BdCn 692722";
            font-size: 20px;
          }
        }
      }
        
    }
    
    .surge-goal-metrics {
      border-radius: 40px 0px 0px 0px;
      border-left: 1px solid #AAA;
      padding-top: 70px;
      position: relative;
      
      &:before {
        border-radius: 40px 0px 0px 0px;
        border-top: 1px solid #AAA;
        border-left: 1px solid #AAA;
        content: "";
        position: absolute;
        left: -1px;
        top: 0;
        height: 100px;
        width: 80%;
      }
      
      .surge-goal-desc {
        padding-left: 60px;
        margin-top: 50px;
        position: relative;
        
        &:first-child {
          margin-top: 0px !important;
        }
        
        h4 {
          
          i {
            
            &:before {
              margin-right: 10px;
              margin-left: 0px;
            }
          }
        }
        
        .surge-goal-identifier-icon {
            border-top: 1px solid #AAA;
            position: absolute;
            left: 0px;
            top: 12px;
            width: 24px;
            
            i {
              color: #5D9ECB;
              position: absolute;
              top: -9px;
              left: 22px;
              padding: 0px 2px;
            }
        }
      }
    }
  }
}

.surge-timeline-snapshot-container {
  
  h3 {
    border-bottom: 1px solid #DDD;
    
    i {
      margin-right: 6px;
    }
  }
  
  .surge-timeline-snapshot-post {
    padding-top: 14px;
    
    .surge-timeline-snapshot-number {
      border-right: 1px solid #777;
      font-family:"HelveticaNeueW01-47LtCn 692689";
      margin-right: 10px;
      padding-right: 10px;
    }
    
    .surge-timeline-snapshot-date {
      color: #777;
      font-family:"HelveticaNeueW01-47LtCn 692686";
      text-transform: uppercase;
    }
    
    p {
      color: #777;
      font-size: 14px;
    }
  }
}

.surge-instagram-feed {
    
    span {
        color: #CCC;
        float: right;
        font-family:"HelveticaNeueW01-47LtCn 692689";
        font-size: 20px;
        text-transform: lowercase;
    }
    
    .surge-instagram-post {
      margin-bottom: 30px;
      
      .instagram-image-container {
        position: relative;
        
        .instagram-meta {
          font-family: "HelveticaNeueW01-47LtCn 692686";
          font-size: 16px;
          color: #999;
          margin-top: 6px;
          
          div {
            display: inline-block;
              
              &.instagram-comments,
              &.instagram-likes {
                  float: right;
                  margin-left: 8px;
              }
          
            i {
              color: #CCC;
              margin-right: 4px;
            }
          }
        }
      }
     
      p {
        border-top: 1px solid #EFEFEF;
        color: #666;
        font-size: 14px;
        margin-top: 12px;
        padding-top: 8px;
      }
    }
}
